extends core/base.pug

block title 
  title Навигация по страницам

block content

  .eiv-page 

    .eiv-content 

      .eiv-navpage 
        .eiv-wrapper
          h1 Навигация по страницам
          ul 
            li 
              a(href="about.html") СМИ о нас
