/* eiv-about */
.eiv-about { 
  padding: 20px 0 60px;
  font-family: 'Open Sans';
  color: $gray;
  &__word {
    max-width: 900px;
    text-align: justify;
    margin-bottom: 40px;
    h1,h2,h3,h4,h5,h6 {
      font-size: 36px;
      font-weight: 400;
      line-height: 40px;
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .eiv-row {
    margin-top: -40px;
    > * {
      margin-top: 40px;
    }
  }
  &__col {
    @include col(3);
    @include col-md(4);
    @include col-sm(6);
    @include col-xs(12);
  }
  &__card {
    display: block;
    height: 100%;
    font-size: 18px;
    line-height: 30px;
    color: $gray;
    text-decoration: none;
    &:hover {
      .eiv-about__title {
        color: $primary_color;
      }
    }
  }
  &__img {
    margin-bottom: 15px;
    position: relative;
    &:after {
      content: '';
      display: block;
      padding-top: 141%;
    }
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__title {
    font-weight: 700;
    margin-bottom: 5px;
    transition: 0.1s;
  }
  &__text {
    font-weight: 400;
  }
  @media (max-width: $break_sm) {
    
  }
  @media (max-width: $break_xs) {
    padding: 20px 0 40px;
    &__card {
      display: flex;
    }
    &__img {
      width: 160px;
      flex-shrink: 0;
      margin-right: 15px;
      margin-bottom: 0;
    }
    &__word {
      margin-bottom: 20px;
      h1,h2,h3,h4,h5,h6 {
        font-size: 26px;
        line-height: 30px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
      }
    }
    &__card {
      font-size: 14px;
      line-height: 24px;
    }
    .eiv-row {
      margin-top: -20px;
      > * {
        margin-top: 20px;
      }
    }
  }
}
/* /eiv-about */